<h1>[{{title}}] 글 {{#if (eq mode "create")}}작성{{else}}수정{{/if}}</h1>

<div>
  <!-- 1. 글쓰기 폼-->
  <form name="boardForm" method="post" {{#if (eq mode "create")}}action="/write"
  {{else}}action="/modify" {{/if}}>

    <!-- 수정 모드인 때는 id값을 폼통해 전송 -->
    {{#if (eq mode "modify")}}
    <input type="hidden" name="id" value="{{post._id}}" />
    {{/if}}

    <!-- 2. 제목 입력 칸 -->
    <div>
      <label>제목</label>
      <input
        type="text"
        name="title"
        placeholder="제목을 넣어주세요"
        value="{{post.title}}"
      />
    </div>
    <!-- 3. 이름 입력 칸 -->
    <div>
      <label>이름</label>
      <input
        type="text"
        name="writer"
        placeholder="이름을 넣어주세요"
        value="{{post.writer}}"
        autocomplete="new-password"
      />
    </div>
    <!-- 4. 비밀번호 입력 칸 -->
    <div>
      <label>비밀번호</label>
      <input
        type="password"
        name="password"
        placeholder="비밀번호를 넣어주세요"
        autocomplete="new-password"
      />
    </div>

    <!-- 5. 본문 입력 -->
    <div>
      <label>본문을 입력하세요</label><br />
      <textarea
        name="content"
        placeholder="본문"
        cols="50"
        rows="10"
      >{{post.content}}</textarea>
      <br />
    </div>

    <!-- 6. 글쓰기 버튼 -->
    <div>
      <button type="submit">저장</button>
      <button type="button" onclick="location.href='/'">취소</button>
    </div>
  </form>
</div>